<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">Edit Sales Quote </h4>
            <button class="btn btn-defualt btn-fill btn-sm" [routerLink]="['/Settings']" type="button">Back</button>

        </div>
        <br>
        <br>




        <form novalidate #form="ngForm">


            <!--enter new Settings code here-->

            <div class="container">

                <div class="row">
                    <div class="col-sm-2">
                        <div>Reference No.</div>
                        <div class="input-group">
                            <span class="input-group-addon">#</span>
                            <input type="text" placeholder="reference no." name="reference" [(ngModel)]="entry.reference" class="form-control" required>
                            <span class="input-group-addon"></span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div> Heading</div>
                        <input type="text" placeholder="Quote heading" name="heading" [(ngModel)]="entry.heading" class="form-control" required>
                    </div>
                </div>



                <br>
                <div class="row">
                    <div class="col-md-2">
                        <div> Issue Date</div>
                        <input class="form-control datetimepicker" placeholder="Datetime Picker Here" name="issuedate" [(ngModel)]="entry.issuedate" type="text" required>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-2">
                        <div> Customer</div>
                        <input type="text" autocomplete="off" (keyup)="find()" (focus)="show()" (blur)="hiden()" id="cus" class="form-control" placeholder="Customer name" name="customer" [(ngModel)]="entry.customer" required>
                        <div class="list-group" id="res" style="display:none; z-index: 1000; position: absolute; width: 167px;">
                            <button *ngFor="let cust of customer;let i=index" id={{i}}+customer (click)="select(cust.name,cust.billingaddress)" type="text" class="list-group-item list-group-item-action">{{cust.name}}</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div> Billing Address</div>
                        <input type="text" class="form-control" id="address" placeholder="billing address" name="billingaddress" [(ngModel)]="entry.billingaddress" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div> Summary</div>
                        <input type="text" class="form-control" placeholder="optional" name="quotesummery" [(ngModel)]="entry.quotesummery" required>
                    </div>
                </div>
                <br>
                <div>
                    <div *ngFor="let item of entry.items;let i=index">

                        <div id="{{i}}" class="row">
                            <!--<div class="row">-->
                            <input type="hidden" id="index" [ngModelOptions]="{standalone: true}" [(ngModel)]="entry.items.length">
                            <div class="col-md-2">
                                <div> Item name {{ i + 1}}</div>
                                <!--<div id="index" style="display:none" >{{ i + 1}}</div>-->

                                <input autocomplete="off" (focus)="showinven(i)" (blur)="hideninven(i)" (keyup)="findItem(item.itemname)" id={{i}}inve class="form-control" placeholder="Item name" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.itemname" required>
                                <div class="list-group" id={{i}}inven style="display:none; z-index: 1000; position: absolute; width: 167px;">
                                    <button *ngFor="let inven of inventory;" id={{i}}inventory (click)="selectinventory(inven.itemName,inven.Descrpition,inven.salePrice,i)" type="text" class="list-group-item list-group-item-action">{{inven.itemName}}</button>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div> Description</div>
                                <input type="text" class="form-control" id={{i}}description placeholder="Description of quete" name="description" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.description" required>
                            </div>

                            <div class="col-sm-1">
                                <div>Qty</div>
                                <input type="number" class="form-control" (blur)="findTotal()" (change)="math(i)" id={{i}}qty placeholder="0" name="qty" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.qty" required>
                            </div>

                            <div class="col-sm-1">
                                <div>Unit Price</div>
                                <input type="number" class="form-control" id={{i}}unit-p placeholder="0" name="unitprice" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.unitprice" required>
                            </div>

                            <div class="col-sm-1">
                                <div>Discount</div>
                                <input type="number" class="form-control" (change)="math(i)" (blur)="findTotal()" id={{i}}discount value=0 placeholder="%" name="discount" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.discount" required>
                            </div>
                            <div class="col-sm-2 ">
                                <div>Amount</div>
                                <span class="fa fa-times pull-right" *ngIf="entry.items.length > 1" (click)="removeItem(i)"></span>
                                <div class="input-group">
                                    <span class="input-group-addon"></span>
                                    <input type="number" class="form-control" id={{i}}amount (focus)="findTotal()" placeholder="0%" name="qwe" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.amount" required>
                                    <span class="input-group-addon">Rs.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="destination"> </div>
                <br>
                <div class="row">
                    <div class="col-sm-2">
                        <button (click)="add(entry)" class="btn btn-warning btn-fill btn-sm "><i class="fa fa-plus" aria-hidden="true"></i>More</button>
                    </div>
                    <div class="col-sm-7"></div>
                    <div class="col-sm-2">
                        <input value="0" type="number" class="form-control" placeholder="Total" (focus)="findTotal()" [(ngModel)]="tot" name="total" id="total" required>
                    </div>
                </div>




                <br>


                <div class="row">
                    <div class="col-md-4">
                        <div> Notes</div>
                        <textarea type="text" rows="4" cols="20" class="form-control" placeholder="optional" name="notes" [(ngModel)]="entry.notes" required></textarea>
                    </div>
                </div>
                <br>




            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="btn btn-primary btn-fill btn-sm" (click)="update(entry) " [routerLink]="['/Settings']" [disabled]="form.invalid " type="button">Update</button>
                <button class="btn btn-danger btn-fill btn-sm" (click)="delete(entry) " [routerLink]="['/Settings']" type="button">Delete</button>
            </div>
        </form>
    </div>

</div>