<div class="fresh-table toolbar-color" style="display: block;">
    <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                        Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
                -->


    <div class="bootstrap-table">
        <div class="fixed-table-toolbar">
            <div class="bars pull-left">
                <div class="toolbar">
                    <!--<button id="alertBtn" [routerLink]="['/NewSalesQuote']" class="btn btn-info btn-fill"> New Sales Quote</button>-->
                    <p class="category"><button href="#modal-overflow" uk-toggle class="btn btn-info btn-fill btn-wd">New Employee</button></p>

                </div>
            </div>
            <div class="columns columns-right pull-right">
                <button class="btn btn-success btn-fill" (click)='refresh()' type="button" name="refresh" title="Refresh"><i class="glyphicon fa fa-refresh"></i></button>

                <div class="keep-open btn-group" title="Columns"><button type="button" class="btn btn-info btn-fill dropdown-toggle" data-toggle="dropdown"><i class="glyphicon fa fa-th-list"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a (click)="export('Json')">Export Json</a></li>
                        <li><a (click)="export('Excel')">Export Excel</a></li>

                    </ul>
                </div>

            </div>
            <!-- <div class="pull-right search"><input class="form-control" type="text" [(ngModel)]="search" (keyup)="find()" placeholder="Search"></div> -->
            <div class="pull-right search"><input class="form-control" type="text" [(ngModel)]="search" (keyup)='find()' placeholder="Search"></div>
        </div>
        <div class="fixed-table-container" style="padding-bottom: 0px;">
            <div class="fixed-table-header" style="display: none;">
                <table></table>
            </div>
            <div class="fixed-table-body">
                <div class="fixed-table-loading" style="top: 45px;">Loading, please wait...</div>
                <table id="fresh-table" class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th data-field="id">
                                <div class="th-inner ">ID</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th data-field="name">
                                <div class="th-inner">Employee</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th data-field="salary">
                                <div class="th-inner">Date</div>
                                <div class="fht-cell"></div>
                            </th>
                            <th data-field="country">
                                <div class="th-inner">Description</div>
                                <div class="fht-cell"></div>
                            </th>

                            <th data-field="actions">
                                <div class="th-inner ">Actions</div>
                                <div class="fht-cell"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entry of entries; trackBy:entry?.id;let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{entry.name}}</td>
                            <td>{{entry.telephonenumber}}</td>
                            <td>{{entry.billingaddress}}</td>
                            <td class="td-actions text-right">
                                <a uk-toggle="target: #rana" rel="tooltip" title="" class="btn btn-info btn-fill btn-wd">Edit</a>
                            </td>

                            <div id="rana" class="uk-modal-container" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body">

                                    <button class="uk-modal-close-default" type="button" uk-close></button>
                                    <div class="uk-modal-header">
                                        <h2 class="uk-modal-title">Edit Here</h2>
                                    </div>
                                    <div class="uk-modal-body">
                                        <form novalidate="" #form="ngForm">
                                            <!--enter new Employee code here-->
                                            <div class="row">
                                                <div class="container-fluid">
                                                    <div class="col-md-4">
                                                        <label>Name</label>
                                                        <input type="text" placeholder="Rana Faheem" class="form-control" [(ngModel)]="entry.name" name="name" #name="ngModel" [rangeLength]="[3, 15]"
                                                            required>
                                                        <p *ngIf="name.errors?.rangeLength">name must contain at least 3 and maximum 15 cherecters
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-2">
                                                        <label>Code</label>
                                                        <input type="text" placeholder="business code" class="form-control" [(ngModel)]="entry.code" name="code" #code="ngModel"
                                                            [rangeLength]="[3, 15]">
                                                        <p *ngIf="code.errors?.rangeLength">code must contain at least 3 and maximum 15 cherecters
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="container-fluid">
                                                    <div class="col-md-4">
                                                        <label>Business Identifier</label>
                                                        <input type="text" placeholder="VAT XXX XXX XXX, TIN XXX XXX XXX, ABN XXX XXX XXX etc" class="form-control" [(ngModel)]="entry.businessidentifier"
                                                            name="businessidentifier" #businessidentifier="ngModel" [rangeLength]="[3, 15]">
                                                        <p *ngIf="businessidentifier.errors?.rangeLength">Business id must contain at least 3 and maximum 15 cherecters</p>
                                                    </div>
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-2">
                                                        <label>Credit Limit</label>
                                                        <input type="number" placeholder="Credit limit" class="form-control" [(ngModel)]="entry.creditlimit" name="creditlimit" number="true"
                                                            maxLength="7">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="container-fluid">
                                                    <div class="col-md-4">
                                                        <label>Billing Address</label>
                                                        <input type="text" placeholder="address" class="form-control" [(ngModel)]="entry.billingaddress" name="billingaddress" #billingaddress="ngModel"
                                                            [rangeLength]="[3, 70]" required>
                                                        <p *ngIf="billingaddress.errors?.rangeLength">Business Address must contain at least 3 and maximum 70 cherecters</p>

                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="container-fluid">
                                                    <div class="col-md-4">
                                                        <label>Email Address</label>
                                                        <input type="text" placeholder="abc@gmail.com" class="form-control" [(ngModel)]="entry.email" name="email" email="true" #email="ngModel"
                                                            email>
                                                        <p *ngIf="email.errors?.email">please enter a valid email</p>
                                                        <!--<p *ngIf="emailField.touched && emailField.invalid" class="alert alert-danger">Please enter a valid email</p -->
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="container-fluid">
                                                    <div class="col-md-4">
                                                        <label>Telephone Number</label>
                                                        <input type="number" placeholder="0423-XXXXXXX" class="form-control" [(ngModel)]="entry.telephonenumber" name="telephonenumbers"
                                                            number="true" maxLength="10">

                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="container-fluid">
                                                    <div class="col-md-4">
                                                        <label>Fax</label>
                                                        <input type="number" placeholder="+1(865)346-3654/ (865)934-1234" class="form-control" [(ngModel)]="entry.fax" name="fax"
                                                            number="true" maxLength="13">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="container-fluid">
                                                    <div class="col-md-4">
                                                        <label>Mobile Number</label>
                                                        <input type="number" placeholder="0300 XXXXXXX" class="form-control" [(ngModel)]="entry.mobile" name="mobile" #mobile="ngModel"
                                                            [range]="[03000000000, 03999999999]" required>
                                                        <p *ngIf="mobile.errors?.range"> mobile number must contain 11 digits </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class=" row ">
                                                <div class="container-fluid ">
                                                    <div class="col-md-4 ">
                                                        <label>Additional Information</label>
                                                        <textarea rows="4 " cols="10 " class="form-control " input type="text " placeholder="Any Information which can help you in future "
                                                            class="form-control " [(ngModel)]="entry.additionalinformation "
                                                            name="additionalinformation
                                " maxlength="50 ">
								</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="uk-modal-footer uk-text-right">
                                        <button class="btn btn-info btn-fill btn-wd uk-modal-close" (click)="update(entry)" type="button">Update</button>
                                        <button class="btn btn-danger btn-fill btn-wd uk-modal-close" (click)="delete(entry)" type="button">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="fixed-table-footer" style="display: none;">
                <table>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
            <div class="fixed-table-pagination">
                <br>
                <br>
                <br>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<br>
<br>
<br>
<br>
<br>








<!--enter new Employee page-->

<div id="modal-overflow" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h2 class="uk-modal-title">New Employees Details</h2>
        </div>

        <div styles="height:6000px;" class="uk-modal-body">
            <p class="text-warning"> Name, Billing Address and Mobile number is mendatory.</p>
            <form novalidate="" #form="ngForm">
                <!--enter new Employee code here-->
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-4">
                            <label>Name</label>
                            <input type="text" placeholder="Rana Faheem" class="form-control" [(ngModel)]="entry.name" name="name" #name="ngModel" [rangeLength]="[3, 15]"
                                required>
                            <p *ngIf="name.errors?.rangeLength">name must contain at least 3 and maximum 15 cherecters </p>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-2">
                            <label>Code</label>
                            <input type="text" placeholder="business code" class="form-control" [(ngModel)]="entry.code" name="code" #code="ngModel"
                                [rangeLength]="[3, 15]">
                            <p *ngIf="code.errors?.rangeLength">code must contain at least 3 and maximum 15 cherecters </p>

                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-4">
                            <label>Business Identifier</label>
                            <input type="text" placeholder="VAT XXX XXX XXX, TIN XXX XXX XXX, ABN XXX XXX XXX etc" class="form-control" [(ngModel)]="entry.businessidentifier"
                                name="businessidentifier" #businessidentifier="ngModel" [rangeLength]="[3, 15]">
                            <p *ngIf="businessidentifier.errors?.rangeLength">Business id must contain at least 3 and maximum 15 cherecters</p>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-2">
                            <label>Credit Limit</label>
                            <input type="number" placeholder="Credit limit" class="form-control" [(ngModel)]="entry.creditlimit" name="creditlimit" number="true"
                                maxLength="7">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-4">
                            <label>Billing Address</label>
                            <input type="text" placeholder="address" class="form-control" [(ngModel)]="entry.billingaddress" name="billingaddress" #billingaddress="ngModel"
                                [rangeLength]="[3, 70]" required>
                            <p *ngIf="billingaddress.errors?.rangeLength">Business Address must contain at least 3 and maximum 70 cherecters</p>

                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-4">
                            <label>Email Address</label>
                            <input type="text" placeholder="abc@gmail.com" class="form-control" [(ngModel)]="entry.email" name="email" email="true" #email="ngModel"
                                email>
                            <p *ngIf="email.errors?.email">please enter a valid email</p>
                            <!--<p *ngIf="emailField.touched && emailField.invalid" class="alert alert-danger">Please enter a valid email</p -->
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-4">
                            <label>Telephone Number</label>
                            <input type="number" placeholder="0423-XXXXXXX" class="form-control" [(ngModel)]="entry.telephonenumber" name="telephonenumbers"
                                number="true" maxLength="8">

                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-4">
                            <label>Fax</label>
                            <input type="number" placeholder="+1(865)346-3654/ (865)934-1234" class="form-control" [(ngModel)]="entry.fax" name="fax"
                                number="true" maxLength="13">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-4">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="0300 XXXXXXX" class="form-control" [(ngModel)]="entry.mobile" name="mobile" #mobile="ngModel"
                                [range]="[03000000000, 03999999999]" required>
                            <p *ngIf="mobile.errors?.range"> mobile number must contain 11 digits </p>
                        </div>
                    </div>
                </div>
                <br>
                <div class=" row ">
                    <div class="container-fluid ">
                        <div class="col-md-4 ">
                            <label>Additional Information</label>
                            <textarea rows="4 " cols="10 " class="form-control " input type="text " placeholder="Any Information which can help you in future "
                                class="form-control " [(ngModel)]="entry.additionalinformation " name="additionalinformation
                                " maxlength="50 ">
								</textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right ">
            <button class="uk-button uk-button-default uk-modal-close " type="button ">Cancel</button>
            <button class="uk-button uk-button-primary uk-modal-close " (click)="save(entry) " [disabled]="form.invalid ">Save</button>
        </div>
    </div>
</div>