<div style="height:500px;" class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="content">
                <div class="header">
                    <legend>Wellcome to Enterprise Resorce Planing Software System !</legend>
                </div>
                <div class="content">
                    <p>Here we are working on crud boiler-plate with Angular2+Pouchdb+Express+Node</p>
                    <p>Gulp+Webpack</p>
                    <br>
                    <p>Perpose of this Application is to help business man to do their business in effective and effecient manners</p>
                </div>
                <!-- second content-->
            </div>
            <!-- first content-->
        </div>
        <!-- card -->
    </div>
    <!-- fluid container -->
</div>
<!-- main content-->

<!--style="height:2500px;"-->