<div class="row">
    <div class="card">
        <div class="header">
            <h4 class="title">New Purchase Order </h4>
            <button class="btn btn-defualt btn-fill btn-sm" [routerLink]="['/app-POP/PurchaseOrder']" type="button">Back</button>

        </div>
        <br>
        <br>

        <form novalidate #form="ngForm">


            <!--enter new SalesOrder code here-->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3">
                        <div> Issuse Date</div>
                        <input class="form-control datetimepicker" placeholder="Datetime Picker Here" type="text" [(ngModel)]="entry.issuedate" name="issuedate"
                            #issuedate="ngModel" #issuedate (blur)="entry.issuedate=issuedate.value" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div>Reference No.</div>
                        <div class="input-group">
                            <span class="input-group-addon">#</span>
                            <input type="text" placeholder="reference no." class="form-control" [(ngModel)]="entry.reference" name="reference" #reference="ngModel"
                                [rangeLength]="[0, 25]" required>
                            <p *ngIf="reference.errors?.rangeLength">must be less then 25 cherecters</p>
                            <span class="input-group-addon"></span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div> Supplier</div>
                        <input autocomplete="off" type="text" (keyup)="find()" (focus)="show()" (blur)="hiden()" id="cus" class="form-control" placeholder="Supplier name"
                            name="supplier" [(ngModel)]="entry.supplier" required>
                        <div class="list-group" id="res" style="display:none; z-index: 1000; position: absolute; width: 167px;">
                            <button *ngFor="let supp of supplier;let i=index" id={{i}}+supplier (click)="select(supp.name,supp.billingaddress)" type="text"
                                class="list-group-item list-group-item-action">{{supp.name}}</button>
                        </div>


                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <div> Billing Address</div>
                        <input type="text" class="form-control" id="address" placeholder="billing address" name="billingaddress" [(ngModel)]="entry.billingaddress"
                            required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div> Summary</div>
                        <input type="text" class="form-control" placeholder="optional" [(ngModel)]="entry.summery" name="summery" #summery="ngModel"
                            [rangeLength]="[0, 100]" required>
                        <p *ngIf="summery.errors?.rangeLength">must be less then 100 worlds</p>
                    </div>
                </div>


                <div *ngFor="let item of test;let i=index">
                    <span class="fa fa-times pull-right" *ngIf="test.length > 1" (click)="removeItem(i)"></span> &nbsp;
                    <div class="card">
                        <div class="container-fluid">
                            <div id="{{i}}" class="row">


                                <input type="hidden" id="index" [ngModelOptions]="{standalone: true}" [(ngModel)]="test.length">
                                <div class="col-sm-2">
                                    <div> Item name</div>

                                    <input autocomplete="off" class="form-control" (focus)="showinven(i)" (blur)="hideninven(i)" placeholder="Item name" name="itemname"
                                        (keyup)="findItem(item.itemname)" id={{i}}inve [(ngModel)]="item.itemname" required>
                                    <div class="list-group" id={{i}}inven style="display:none; z-index: 1000; position: absolute; width: 167px;">
                                        <button *ngFor="let inven of inventory;" id={{i}}inventory (click)="selectinventory(inven.itemName,inven.Descrpition,inven.salePrice,i)"
                                            type="text" class="list-group-item list-group-item-action">{{inven.itemName}}</button>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-md-3">
                                    <div> Description</div>
                                    <input type="text" class="form-control" id={{i}}description placeholder="Description of quete" name="description" [(ngModel)]="item.description"
                                        required>
                                </div>

                                <div class="col-sm-2">
                                    <div>Qty</div>
                                    <input type="number" id={{i}}qty (change)="math(i)" (blur)="findTotal()" class="form-control" placeholder="0" name="qty"
                                        [(ngModel)]="item.qty" value='1' required>
                                </div>

                                <div class="col-sm-2">
                                    <div>Unit Price</div>
                                    <input type="number" class="form-control" id={{i}}unit-p placeholder="0" name="unitprice" [(ngModel)]="item.unitprice" required>
                                </div>

                                <div class="col-sm-2 col-md-1">
                                    <div>Discount</div>
                                    <input type="number" class="form-control" (change)="math(i)" (blur)="findTotal()" placeholder="%" id={{i}}discount value=0
                                        name="discount" [(ngModel)]="item.discount" required>
                                </div>
                                <div class="col-sm-2 ">
                                    <div>Amount</div>

                                    <input type="number" id={{i}}amount class="form-control" placeholder="0%" [(ngModel)]="item.amount" (focus)="findTotal()"
                                        name="qwe" required>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="destination"> </div>
                <br>
                <div class="row">
                    <div class="col-sm-2">
                        <button (click)="add(test)" class="btn btn-warning btn-fill btn-sm "><i class="fa fa-plus" aria-hidden="true"></i>More</button>
                    </div>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                    <div class="col-sm-2">
                        <input value="0" type="number" class="form-control" placeholder="Total" (focus)="findTotal()" [(ngModel)]="total" name="total"
                            id="total" required>
                    </div>
                </div>






                <br>
                <br>




                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div> Delivery Date</div>
                        <input class="form-control datetimepicker" placeholder="Datetime Picker Here" type="text" [(ngModel)]="entry.deliverydate"
                            name="deliverydate" #deliverydate="ngModel" #deliverydate (blur)="entry.deliverydate=deliverydate.value"
                            required>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-4">
                        <div> Delivery Address</div>
                        <textarea rows="4" cols="20" p class="form-control" [(ngModel)]="entry.deliveryaddress" name="deliveryaddress" #deliveryaddress="ngModel"
                            [rangeLength]="[0, 35]"></textarea>
                        <p *ngIf="deliveryaddress.errors?.rangeLength">must be less then 10 words</p>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-sm-4">
                        <div> Delivery Instruction</div>
                        <textarea type="text" rows="4" cols="20" class="form-control" placeholder="optional" [(ngModel)]="entry.deliveryinstructions"
                            #deliveryinstructions="ngModel" [rangeLength]="[0, 100]" name="deliveryinstructions" required></textarea>
                        <p *ngIf="deliveryinstructions.errors?.rangeLength">must be less then 100 worlds</p>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-4">
                        <div> Authorized</div>
                        <input type="text" class="form-control" placeholder="Authoerised by" [(ngModel)]="entry.authorizedby" name="authorizedby"
                            #authorizedby="ngModel" [rangeLength]="[0, 15]" required>
                        <p *ngIf="authorizedby.errors?.rangeLength">must be less then 15 words</p>
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="btn btn-primary btn-fill btn-sm" (click)="save(entry) " [routerLink]="['/app-POP/PurchaseOrder']" type="button">Save</button>

            </div>

        </form>

    </div>

</div>